@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

$transparent-black-bg : rgba(0, 0, 0, 0.75);
$border-radius:7px;
$inspire-blue:#008ae7;

.hidden
{
  display: none;
}

body
{
  margin:0;
  background:white;
  font-family: 'Cabin', sans-serif;
}

::-webkit-scrollbar { 
  display: none; 
}

.tutorial
{
  top:0;
  left:0;
  bottom:0;
  right:0;
  position:fixed;
  background:rgba(0, 0, 0, 0.9);
  text-align:center;
  color:white;

  .content
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    $content-width:380px;
    width:$content-width;
    margin:0;

    .imgcontainer
    {
      $sources-width : 500px;
      margin-left: ($content-width - $sources-width) / 2;
      width:500px;
      height:200px;
      //background:pink;

      .source
      {
        width:33.33%;
        height:100%;
        float:left;
        //background:red;
      }

      input
      {
        $input-size:20px;
        width:$input-size;
        height:$input-size;
        margin-top:8px;
      }
    }
    
    img
    {
      $imgsize:100px;
      width: $imgsize;
      height: $imgsize;
    }

    p
    {
      font-size:1.3em;
      margin:0px 0 0px 0;
    }

    a{
      color:#008ae7;
      text-decoration: none;
    }

    .inspire-logo
    {
      margin-bottom: -35px;
    }

    h1
    {
      color:#008ae7;
      font-size:5em;
      margin:0px 0 0px 0;
    }

    h2
    {
      font-size:2em;
      margin:0px 0 0px 0;
    }

    h3
    {
      font-size:1.2em;
      margin:0px 0 0px 0;
    }

    h4
    {
      font-size:.8em;
      margin:0px 0 0px 0;
    }

    button
    {
      border:none;
      font-family: 'Cabin', sans-serif;
      background:$inspire-blue;
      color:white;
      font-size:1.5em;
      padding:10px 13px 10px 13px;
      border-radius: $border-radius;
      cursor:pointer;
      
    }

    button:hover
    {
      color:rgb(170, 170, 170);
      background:#04426b;
    }  

    ul
    {
      margin-top:5px;
      list-style-position: inside;
      padding:0;

      li span{
        position: relative;
        left: -5px;
        font-size:15px;
        line-height:20px;
      }
    }
    
  }
}

$settings-buffer : 10px;
$settings-btn-size : 15px;
$settings-btn-padding : 10px;

.menu-open
{
  border-radius: 0 0 $border-radius $border-radius !important;
}

.show {
  z-index: 1000;
  position: absolute;
  background:rgba(255,255,255,0.9);
  border-radius:24px;
  border-top-left-radius:0px;
  padding: 12px;
  display: block;
  margin: 0;
  list-style-type: none;
  list-style: none;
  font-weight:bold;
}

.hide {
  display: none;
}

.show li {
  list-style: none;
}

.show a {
  border: 0 !important;
  text-decoration: none;
  
}

.show a:hover {
  text-decoration: underline !important;
}

.settings-btn
{ 

  background:$transparent-black-bg; 
  padding:$settings-btn-padding;
  border-radius: $border-radius;
 

  position:fixed;
  width:$settings-btn-size;
  height:$settings-btn-size;
  bottom:$settings-buffer;
  right:$settings-buffer;

  cursor: pointer; 

  img
  {
    width:100%;
    height:100%;
    opacity:0.8;
  }
}

.settings-window
{
  position:fixed; 
  right:$settings-buffer;
  bottom:$settings-buffer * 2 + $settings-btn-size + $settings-btn-padding;

  display:none;

  width:250px;

  background:$transparent-black-bg;

  border-radius: $border-radius $border-radius 0 $border-radius;

  color:white;

  padding:20px;
  
  font-family: 'Cabin', sans-serif;
  font-size:13px;  

  h1
  {
    margin:0px 0 5px 0;
  }

  h2{
    margin:0 0 5px 0;
  }

  .seperator
  {
    width:auto;
    background:rgba(255,255,255,0.5);
    height:1px;
    margin:10px 0 10px 0;
  }

  $height:25px;
  $border-radius:24px;

  .no-padding-bottom
  {
    padding-bottom: 0 !important;
  }

  .toggle
  {    
    line-height: $height;
    height:$height;
    padding:0 0 5px 0;
  }

  .gallery-setting
  {
    height:$height;
    line-height:$height;
    padding:0 0 5px 0;
  }

  .label
  {
    height:$height;
    line-height:$height;
  }

  $gallery-setting-field-width:130px;

  button
  {
    position: absolute;
    display: inline-block;
    width: 87%;
    border:0;
    background:rgba(255, 255, 255, 0.9);
    height:$height - 4px;
    border-radius: $border-radius;
    font-family: 'Cabin', sans-serif;
    font-size:13px;  
  }

  #search_term, #sort_method {
    position: absolute;
    display: inline-block;
    width:  $gallery-setting-field-width;
    right:20px;
    border:0;
    background:rgba(255, 255, 255, 0.9);
    height:$height - 4px;
    border-radius: $border-radius;
  }

  .dropdown
  {
    position: absolute;
    right:20px;
    border:0;
    display: inline-block;
    width: $gallery-setting-field-width;
    background:rgba(255, 255, 255, 0.9);
    border-radius:$border-radius;
    height:$height - 2px;
    padding:0 0 0 4px;
    font-family: 'Cabin', sans-serif;
    font-size:12px;
  }

  .footnote
  {
    color:rgba(255, 255, 255, 0.5);
    font-size:10px;

    a {
      color:inherit;
      // text-decoration: none; /* no underline */
    }
  }
}

.time-and-date
{
  $buffer : 20px;
  border-radius: 7px;

  background:rgba(0,0,0,0.9);

  position:fixed;
  // width:$size;
  // height:$size;|
  bottom:$buffer;
  left:$buffer;

  color:white;
  // font-family: 'Saira', sans-serif;
  text-align:center;

  @include no-select;

  padding:20px;

  min-width:240px;

  h1
  {    
    font-size: 100px;
    margin:-15px 0 -15px 0;
  }

  h2
  {
    font-size: 20px;
    margin:0;
  }
}

.grid
{
  overflow:auto;

  .scroll
  {
    text-align: center;
    position: relative;
    background:rgba(0,0,0,.1);

    span
    {
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);
      color:white;//rgba(0,0,0,.5);
      font-weight: 500;
      font-size:30px;
      font-family:'Helvetica';
    }
  }

  .cell
  {
    width: 100%; // default
    // height:auto;
    overflow:hidden;
    float:left;
    cursor:pointer;

    // opacity: 0.5;     

  

    $heightRatio: 79 / 101;    

    @media (min-width: 0px) {
      $columns: 1;
      $frac: 100/$columns;
      width: $frac * 1%;
      height:calc((#{$frac} * 1vw) * #{$heightRatio} - 7px);
    }

    @media (min-width: 450px) {
      $columns: 2;
      $frac: 100/$columns;
      width: $frac * 1%;
      height:calc((#{$frac} * 1vw) * #{$heightRatio} - 7px);
    }

    @media (min-width: 700px) {
      $columns: 3;
      $frac: 100/$columns;
      width: $frac * 1%;
      height:calc((#{$frac} * 1vw) * #{$heightRatio} - 7px);
    }

    @media (min-width: 1000px) {
      $columns: 4;
      $frac: 100/$columns;
      width: $frac * 1%;
      height:calc((#{$frac} * 1vw) * #{$heightRatio} - 7px);
    }

    @media (min-width: 1300px) {
      $columns: 5;
      $frac: 100/$columns;
      width: $frac * 1%;
      height:calc((#{$frac} * 1vw) * #{$heightRatio} - 7px);
    }

    @media (min-width: 1500px) {
      $columns: 6;
      $frac: 100/$columns;
      width: $frac * 1%;
      height:calc((#{$frac} * 1vw) * #{$heightRatio} - 7px);
    }

    @media (min-width: 1800px) {
      $columns: 7;
      $frac: 100/$columns;
      width: $frac * 1%;
      height:calc((#{$frac} * 1vw) * #{$heightRatio} - 7px);
    }

    a
    {
      @include transition(opacity 0.1s);
    }

    a:hover
    {
      opacity: 0.9;
    }

    img {
      display:none;
      width:100%;
    }

    
  }

  // .fadein {
  //   transition: all linear 5s;
  //   opacity: 1 !important;
  // }
}

